.section {
  background-color: #cecece;
  width: 400px;
  margin: 50px auto;
  padding-bottom: 10px;
}
.inputTodoBox {
  padding: 0px 4%;
  display: flex;
  width: 300px;
  margin: 0px auto;
  justify-content: center;
  /* background-color: #cecece; */
  /* background-color: violet; */
}
.inputbox {
  width: 70%;
  padding: 3% 5%;
  margin: 5% 0%;
  text-decoration: none;
  border: none;
  color: white;
  background-color: #cecece;
  font-size: 20px;
}
.addButton {
  padding: 2% 3%;
  border: none;
  font-size: 25px;
  color: white;
  background-color: #cecece;
  /* background-color: white; */
  margin: auto 0%;
}
